@charset "UTF-8";
:root {
  --white: #fff;
  --black: #000;
  --purple: #800080;
  --bg-color-1: #370250;
  --bg-color-2: #771CA3;
  --bg-color-3: #860068;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

header {
  width: auto;
  height: 14vh;
}

.cabeçalho {
  display: flex;
  width: 100vw;
  height: 14vh;
  background-color: var(--black);
}
.cabeçalho .area_themeSwitcher {
  position: relative;
  top: 3.25rem;
  left: 5rem;
}
.cabeçalho .themeSwitcher {
  background-color: var(--black);
  border: double var(--white);
  border-radius: 1vb;
  font-weight: bold;
  border: 0.125rem solid var(--white);
  color: var(--white);
  width: 10rem;
  height: 2rem;
  transition: 0.15s;
}
.cabeçalho .themeSwitcher:hover {
  background-color: var(--white);
  color: var(--black);
  transform: scale(1.1);
}
.cabeçalho .perfil {
  position: relative;
  top: 2.25rem;
  left: 30rem;
}
.cabeçalho .perfil .perfil_icon:hover {
  filter: brightness(0.8);
}
.cabeçalho .links {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 10rem;
}
.cabeçalho .links a {
  transition: 0.15s;
  text-decoration: none;
  color: var(--white);
  font-size: 22px;
  margin-left: 35px;
}
.cabeçalho .links a:hover {
  padding: 0.5rem;
  border: 3px solid var(--white);
  border-style: double;
  border-radius: 10px;
}
.cabeçalho .logo_area {
  margin-left: 20px;
  display: flex;
}
.cabeçalho .logo_area .logo {
  background-color: var(--white);
  margin-bottom: 10px;
  margin-top: 10px;
}
.cabeçalho .serch_area {
  position: relative;
  top: 3rem;
  left: 20rem;
}
.cabeçalho .serch_area .search {
  height: 35px;
  width: 240px;
  border: 2px solid transparent;
  border-radius: 5px;
  background-color: var(--white);
}
.cabeçalho .serch_area .search:hover {
  filter: brightness(0.8);
}
.cabeçalho .serch_area .submit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 25px;
  cursor: pointer;
  border: 0;
  border-top-right-radius: 10px;
  position: absolute;
  top: 5px;
  right: 0;
  background-color: transparent;
}
.cabeçalho .serch_area .submit:hover {
  filter: brightness(0.8);
}
.cabeçalho .serch_area .submit i {
  color: var(--black);
}
.cabeçalho .serch_area .submit i:hover {
  filter: brightness(0.8);
}

::-webkit-input-placeholder {
  color: var(--black);
}

body {
  background: linear-gradient(150deg, var(--bg-color-1) 16.73%, var(--bg-color-2) 50.04%, var(--bg-color-3) 83.35%);
  width: 100vw;
  height: 100vh;
}
body .slider {
  position: relative;
  top: 7rem;
  margin: 0 auto;
  width: 800px;
  height: 400px;
  overflow: hidden;
}
body .slides {
  width: 400%;
  height: 400px;
  display: flex;
}
body .slides input {
  display: none;
}
body .slide {
  width: 25%;
  position: relative;
}
body .slide img {
  width: 800px;
}
body .manual_navigation {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}
body .manual_btn {
  border: 2px solid var(--white);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
body .manual_btn:not(:last-child) {
  margin-right: 40px;
}
body .manual_btn:hover {
  background-color: var(--black);
}
body #radio1:checked ~ .first {
  margin-left: 0;
}
body #radio2:checked ~ .first {
  margin-left: -25%;
}
body #radio3:checked ~ .first {
  margin-left: -50%;
}
body #radio4:checked ~ .first {
  margin-left: -75%;
}
body .navigation_auto {
  position: absolute;
  width: 800px;
  margin-top: 360px;
  display: flex;
  justify-content: center;
}
body .navigation_auto div {
  border: 2px solid #20a6ff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
body .navigation_auto div:not(:last-child) {
  margin-right: 40px;
}
body #radio1:checked ~ .navigation_auto .auto_btn1 {
  background-color: var(--black);
}
body #radio2:checked ~ .navigation_auto .auto_btn2 {
  background-color: var(--black);
}
body #radio3:checked ~ .navigation_auto .auto_btn3 {
  background-color: var(--black);
}
body #radio4:checked ~ .navigation_auto .auto_btn4 {
  background-color: var(--black);
}

@media (max-height: 600px) {
  header {
    height: 200px;
  }
  .cabeçalho {
    height: 200px;
  }
  .cabeçalho .perfil {
    position: relative;
    top: 75px;
  }
  .cabeçalho .perfil .links {
    left: 0;
  }
  .cabeçalho .perfil .links a {
    font-size: 12px;
    margin-left: 10px;
  }
  .slider {
    height: 100px;
  }
  body .slide {
    width: 25%;
    position: relative;
  }
  body .slide img {
    height: 200px;
  }
  body .slide .manual_navigation {
    bottom: 200px;
    right: 2000px;
  }
}
@media (max-width: 400px) {
  .logo, .themeSwitcher, .serch_area {
    display: none;
    width: 0;
    height: 0;
  }
  header {
    width: 400px;
  }
  .cabeçalho {
    width: 400px;
  }
  .cabeçalho .logo_area {
    margin-left: 0;
  }
  .cabeçalho .perfil {
    position: relative;
    left: 0;
    margin-right: 10px;
  }
  .cabeçalho .perfil .perfil_icon {
    width: 50px;
  }
  .cabeçalho .links {
    left: 0;
  }
  .cabeçalho .links a {
    font-size: 12px;
    margin-left: 10px;
  }
  .slider {
    width: 200px;
    position: relative;
    left: 50px;
  }
  body .slide {
    width: 25%;
    position: relative;
  }
  body .slide img {
    width: 300px;
  }
  body .slide .manual_navigation {
    bottom: 200px;
    right: 2000px;
  }
}

/*# sourceMappingURL=style.css.map */
