$center: center ;
$flex: flex ;
$relative: relative ;
$nowrap: nowrap ; 
$column: column ;
$max-content: max-content;
$none: none ;

$white: #fff;
$black: #000;
$purple: #800080;
$bg-color-1: #370250;
$bg-color-2: #771CA3;
$bg-color-3: #860068;

$vw: 100vw ;
$vh: 100vh ;
$filter: 0.8 ;